* {
    margin: 0 !important;
    user-select: none;
    cursor: pointer;
    list-style: none;
}

.wrapper {
	width: 100vw;
    background-color: blanchedalmond;
	display: flex;
	flex-direction: column;
}